 
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    padding: 0 50px;
    position: relative; 
  }
  
  .navbar-menu {
    display: flex;
    list-style: none;
    gap: 16px;
  }
  
  
  .navbar-menu button {
    background-color: lightgoldenrodyellow; 
    color: black; 
    padding: 20px;
    border: none;
    border-radius:30px; 
    cursor: pointer;
    text-transform: uppercase;
    font-weight:bold; 
  }
  
  .navbar-menu li {
    margin-bottom: 0px; 
  }

  @media (min-width: 200000px) { /* Adjust breakpoint as needed */
    .navbar-menu li {
      margin-bottom: 0;
    }
  }
  
  .navbar-container::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%; /* Adjust based on how much area you want colored */
    background-color: #2b4159; /* The slant color */
    transform: skewX(-20deg); /* Creates the slant */
    z-index: -1; /* Ensures the slant is behind the content */
  }
  
  .navbar {
    padding-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  } 